{% extends 'base.html'%}
{% block title %}
About Us
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-wrapper">

        <div class="card">
    
          <h1 class="center">About DS Airlines</h1>
          <p class="center">We are a team of hard-working professionals that want to improve the experience of airplane traveling.
                            Established in 2016 DS Airlines became a huge success after getting recognized for the straightforwardness
                            and the reliability of our company.
          </p>
          
        </div>

    </div>
</div>
{% endblock %}