{% extends 'base.html'%}
{% block title %}
Dashboard
{% endblock %}
{% block content %}
    <div class="container-dash">
      {% for message in get_flashed_messages() %}
    <div class="alert-container" role="alert">
        <div class="alert">{{ message }}</div>
      </div>
    {% endfor %}
        <div class="card-wrapper">

            <div class="card">
        
              <h1 class="center">Welcome to Dashboard</h1>
              <p class="center">You are currently logged in.</p>
              <p class="center">Click <a href="/user/deactivate/">here</a> to deactivate account</p>
        
              <div class="center">
                <a href="/user/signout" class="btn">Sign Out</a>
              </div>
            
            </div>
        
            <div class="card">
        
              <h1 class="center">Your Profile</h1>
        
              <p>
                <strong>Username: &nbsp;</strong> {{ session['user']['username'] }}<br>
                <strong>Name: &nbsp;</strong> {{ session['user']['fullname'] }}<br>
                <strong>Email: &nbsp;</strong> {{ session['user']['email'] }}<br>
                <strong>Passport Number: &nbsp;</strong> {{ session['user']['idnum'] }}<br>
              </p>
            
            </div>

            
        </div>

        <div class="card-wrapper">

          <div class="card results">

            <h1 class="center">My Reservations</h1>
            <p class="center">(Click on a heading to sort)</p>
            <table id="data" class="table table-sortable">
              <thead>
                <tr>
                  <th>Reservation Number</th>
                  <th>Flight Number</th>
                  <th>Name</th>
                  <th>Passport Number</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>    
                  {% for reservation in reservations if not reservation == none %}
                  <tr>
                    <td>{{ reservation['resnumber'] }}</td>
                    <td>{{ reservation['flightnumber'] }}</td>
                    <td>{{ reservation['name'] }}</td>
                    <td>{{ reservation['idnum'] }}</td>
                    <td>{{ reservation['cost'] }}</td>
                  </tr>
                  {% else %}
                  <tr><td>NO RESERVATIONS FOUND</td></tr>
                  {% endfor %}
              </tbody>
            </table>
            <div class="center">
              <a href="/user/reservations/" class="btn">Manage Reservations</a>
            </div>
            

          </div>

        </div>

    </div>
{% endblock %}